body {
    background-color: whitesmoke;
    color: #1e1e1e;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #1e1e1e;
}

header input[type=text] {
    padding: 10px;
    border: 0;
    border-radius: 10px;
    margin: 10px;
    background-color: #aaaaaa;
}

header input[type=text]::placeholder {
    color: rgba(0, 0, 0, 0.5)
}

header button {
    padding: 10px;
    border: 0;
    border-radius: 10px;
    margin: 10px;
}

header button:hover {
    cursor: pointer;
    background-color: #aaaaaa;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.homeScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-image: url('./assets/home.png');
    background-size: 100%;
    object-fit: cover;
    flex: 1 0 auto;
}

.homeScreen div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0.5;
    /* height: 100%; */
    margin: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #aaaaaa;
    color: whitesmoke;
    font-family: "PT Sans", sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    font-style: normal;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
    padding-inline-start: 0;
    margin: 0 auto;
}

nav ul li {
    list-style-type: none;
    padding: 10px 2em;
}

nav ul li:hover {
    cursor: pointer;
    background-color: #1e1e1e;
    color: whitesmoke;
}

h1 {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    font-size: 50px;
    margin: 10px auto
}

h2, h3, h4 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1em;
}

p, a {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: gray
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #1e1e1e;
    color: whitesmoke;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 10px 0;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    padding: 1em
}
footer div ul {
    list-style-type: none;
    margin: 0 auto;
    padding-inline-start: 0;
}


.horizontal-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}

/* abril fatface for recipe titles */
/* Fugaz One for Header title */
/* PT Sans for regular text */